[Desktop Entry]
Type=Application
Name=Roblox Player
Exec=cork player %u
Terminal=false
Categories=Game
Icon=roblox-player
MimeType=x-scheme-handler/roblox-player;x-scheme-handler/roblox
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
StartupWMClass=robloxplayerbeta.exe
